.app-header {
  background-color: #101828;
  color: white;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.wallet-icon {
  font-size: 1.2rem;
  color: #a4bdfc;
}

.logo-text {
  font-weight: 700;
  font-size: 1.2rem;
}

.personal-tag {
  background-color: #21283a;
  color: #a4bdfc;
  padding: 4px 12px;
  border-radius: 12px;
  font-size: 0.8rem;
  font-weight: 500;
}
